@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  padding-top: 1em;
  margin: auto;
  width: 80%;
}

@media only screen and (min-width: $mobile-width) {
  .main-search-input {
    visibility: hidden;
  }
}
