nav {
  background-color: red;
  height: 4em;
}

div.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  align-content: center;
}

div.nav > div {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-search-input {
  visibility: hidden;
}

div.nav h1.logo {
  color: white;
  font-family: 'Arial';
  font-weight: 900;
  font-size: 3em;
  letter-spacing: -0.1em;
  margin: auto;
  text-transform: uppercase;
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu span,
.menu span::before,
.menu span::after {
  display: block;
  background: white;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.menu span::before,
.menu span::after {
  content: '';
  position: absolute;
}

.menu span::before {
  bottom: 10px;
}

.menu span::after {
  top: 10px;
}

@media only screen and (min-width: 800px) {
  .nav-search-input {
    visibility: visible;
  }

  .menu {
    visibility: hidden;
  }

  div.nav {
    grid-template-columns: 0px 2fr 1fr 1fr;
  }
}
