input[type=text], select {
  width: 100%;
  padding: 12px 40px 12px 12px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  height: 37px;
  position: relative;
}

.search-input .loader-spinner {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  right: 5px;
  top: 3px;
}

.search-input > .search-results {
  width: 25em;
  max-height: 25em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-top: 2px;
  overflow: scroll;
}
