h3.not-found {
  margin-top: 2em;
  text-align: center;
  color: crimson;
}

p.not-found {
  text-align: center;
  color: #444;
  margin-bottom: 2em;
}

.superhero-row {
  display: flex;
  height: 5em;
  padding: 1em;
  border-bottom: 1px #ccc solid;
  cursor: pointer;

  .superhero-image {
    flex-basis: 5em;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .superhero-info {
    height: 100%;
    padding-left: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > p {
      overflow: hidden;
    }
  }
}
